CameraWebServer/*
!CameraWebServer/app_httpd.cpp
!CameraWebServer/camera_index.h 
!CameraWebServer/camera_pins.h
!CameraWebServer/CameraWebServer.ino
!CameraWebServer/partitions.csv 

__pycache__
QR images
test_function.py 
test_function.pyc
.vscode

FIDS30.zip 
FIDS30

Fruit Sugar Detection.v2i.yolov8/*
Fruit Sugar Detection.v2i.yolov8 - Copy/*
Fruit Sugar Detection.v2i.yolov8
Fruit Sugar Detection.v2i.yolov8 - Copy
/Fruit Sugar Detection.v2i.yolov8 - Copy/test/images
*.txt
*.jpg
